.timeline-item {
  position: relative;
  margin: 2em 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background: var(--primary);
  transform: translateY(-50%);
}

.timeline-content {
  position: relative;
  padding: 1em;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.timeline-item:nth-child(odd) .timeline-content {
  left: calc(-50% + 1em);
}

.timeline-item:nth-child(even) .timeline-content {
  right: calc(-50% + 1em);
}
